<%- include('../partials/header.ejs')  %>

<title>CADASTRO DE receitas </title>

</head>

<body>
    
    <div class="container">

        <%- include('../partials/menu.ejs') %>

        <div class="card mt-2">
            <div class="card-header">CADASTRO DE receitas</div>
        </div>

        <div class="card-body">
            <form action="http://localhost:3000/inserirReceita" method="post">
                
                <label for="">Receita</label>
                <input type="text" class="form-control" 
                        name="nome_Receita" id="nome_Receita"
                        placeholder="DIGITE UM Receita">
                
                <button class="btn btn-success mt-2">CADASTRAR</button>
            </form>
        </div>
    </div>

    </body>

<%- include('../partials/footer.ejs')  %>