
<!-- IMPORT DO HEADER -->
<%- include('partials/header.ejs')  %>

    <title>APLICAÇÃO WEB - receitas</title>

</head>

<body>
    
    <div class="container">

        <%- include('partials/menu.ejs')  %>

    </div>

</body>

<!-- IMPORT DO FOOTER -->
<%- include('partials/footer.ejs')  %>